:root {
    --color-pearl: #FFF5E1;
    --color-beige: #FFDBC3;
    --color-peach: #E59B8F;
    --color-earth: #7D6468;
    --color-sky: #B2C9FC;
    --color-white: #FFF;
    --color-black: #1E1E1E;

    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
    --font-size-small: 1.7rem; /* 17px */
    --font-size-default: 1.6rem; /* 16px */
    --font-size-large: 4.2rem; /* 42px */

    --font-weight-bold: 700;
    --font-weight-regular: 400;

    --border-radius: 5px;

    --wrap: 800px;

    @mixin breakpoint($point) {
        @if $point == ultra-wide-desktop {
            @media (max-width: 1650px) { @content ; }
        }
        @if $point == wide-desktop {
            @media (max-width: 1440px) { @content ; }
        }
        @else if $point == desktop {
            @media (max-width: 1200px) { @content ; }
        }
        @else if $point == laptop {
            @media (max-width: 992px)  { @content ; }
        }
        @else if $point == tablet {
            @media (max-width: 768px) { @content ; }
        }
        @else if $point == mobile {
            @media (max-width: 576px)  { @content ; }
        }
    }
}