a, button {
    cursor: pointer;
}

.btn {
    padding: 15px;
    width: 100%;
    text-align: center;
    border-radius: var(--border-radius);
    color: var(--text-secondary);
    &.secondary {
        background-color: red;
    }
}